@charset "utf-8";
* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 12px;
    font-family: Arial, sans-serif;
	background: #171717;
	height: 100%;
    text-align: left;
}

.cl { font-size: 0; line-height: 0; height: 0; clear: both; }

a img { border: 0; }
a { color: #171717; text-decoration: none; }
a:hover { text-decoration: underline; cursor: pointer;}

.left { float: left; display: inline; }
.right { float: right; display: inline;} 
.notext {font-size: 0; line-height: 0; text-indent: -4000px;}

.center {display: block; margin: 0 auto;}
.pad {padding-left: 100px; }
.shell {margin: 0 auto; width: 100%;}

#header {background: #000;}
#header .shell {width: 1018px; background: url(images/header.jpg) no-repeat 10px 0;height: 84px;}

h1#logo {padding-left: 250px; float: left; padding-top: 21px;}
h1#logo a {display: block; background: url(images/logo.gif) no-repeat 0 0; width: 299px; height: 39px;}

#navigation {background: url(images/nav.gif) repeat-x 0 0; height: 50px;}
#navigation ul {float: right; list-style-type: none;}
#navigation ul li {background: url(images/nav-divider.gif) no-repeat right 0; float: left; display: inline; padding-left: 23px; padding-right: 19px;}
#navigation ul li a {color: #676767; font-family: tahoma, sans-serif; font-size: 13px; text-transform: uppercase; padding-top: 16px; display: block; height: 34px; float: left;}

#side-nav ul {list-style-type: none; padding-top: 9px;  }
#side-nav ul li {float: right; display: block; padding-bottom:5px;}
#side-nav ul li a {height: 18px; display: block; padding-left: 20px; padding-top: 10px;  color: #636363; font-size: 12px; font-weight: bold; position: relative;}
#side-nav ul li .link {background: url(images/side-nav.png) no-repeat 0 0; width: 300px; height: 32px; margin-right: 0px;}
#side-nav ul li.active a {color: #77912b;}
#side-nav ul li.active a:hover {text-decoration: none;}

#roud {width: 500px; height: 250px; padding-top: 0px; }

table {
    width: 600px;                   /**   размер таблицы  **/
    margin:0 ;						/**   размещение по центру  **/
    border-collapse: collapse; 		/**   отображение границ  **/
    background: #e6e6e6;
}
table thead {
    height: 35px;
    background: #9fea00;
}
table th{
    text-align: left;
    height: 30px;
    width: 300px;
    border: 1px solid black;
    padding-left: 5px;
    font-family: tahoma, sans-serif;
    vertical-align: middle;
    font-size: 14px;
}
table tbody tr:nth-child(2n+1){
    background: #b3b3b3;
}
table td {
    text-align: center;
    width: 60px;
    border: 1px solid black;
    font-family: tahoma, sans-serif;
    vertical-align: middle;
    font-size: 15px;
}
table tbody td:hover  {
    background-color: #ccff66;
}

.login-fon {
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 300px;
    background: #e6e6e6;
}

.login-form {
    color: #676767;
    font-family: tahoma, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10%;
    padding-top: 30px;
    width: 400px;
    line-height: 2;
}

.form form {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}
